# Data In Motion
## Data Analysis Challenges
### Challenge 1: Chipotle Sales

In [127]:
library(dplyr, quietly = TRUE)

In [128]:
chipo <- read.csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = "\t")

In [129]:
str(chipo)

'data.frame':	4622 obs. of  5 variables:
 $ order_id          : int  1 1 1 1 2 3 3 4 4 5 ...
 $ quantity          : int  1 1 1 1 2 1 1 1 1 1 ...
 $ item_name         : chr  "Chips and Fresh Tomato Salsa" "Izze" "Nantucket Nectar" "Chips and Tomatillo-Green Chili Salsa" ...
 $ choice_description: chr  "NULL" "[Clementine]" "[Apple]" "NULL" ...
 $ item_price        : chr  "$2.39 " "$3.39 " "$3.39 " "$2.39 " ...

## 1. Which was the most ordered item?

In [130]:
chipo |>
count(item_name) |>
slice_max(n)

  item_name    n
1 Chicken Bowl 726

## 2. For the most-ordered item, how many items were ordered?

In [131]:
chipo |>
group_by(item_name) |>
summarize(total_ordered = sum(quantity)) |>
slice_max(total_ordered)

  item_name    total_ordered
1 Chicken Bowl 761

## 3. What was the most ordered item in the choice_description column?

In [132]:
chipo |>
filter(choice_description != 'NULL') |>
count(choice_description) |>
slice_max(n)

  choice_description n
1 [Diet Coke]        134

## 4. How many items were ordered in total?

In [133]:
chipo |>
summarize(total_items_ordered = sum(quantity))

  total_items_ordered
1 4972

## 5. Turn the item price into a float

In [134]:
library(readr)

In [135]:
chipo$item_price <- parse_number(chipo$item_price)

str(chipo)

'data.frame':	4622 obs. of  5 variables:
 $ order_id          : int  1 1 1 1 2 3 3 4 4 5 ...
 $ quantity          : int  1 1 1 1 2 1 1 1 1 1 ...
 $ item_name         : chr  "Chips and Fresh Tomato Salsa" "Izze" "Nantucket Nectar" "Chips and Tomatillo-Green Chili Salsa" ...
 $ choice_description: chr  "NULL" "[Clementine]" "[Apple]" "NULL" ...
 $ item_price        : num  2.39 3.39 3.39 2.39 16.98 ...

## 6. How much was the revenue for the period in the dataset?

In [136]:
chipo |>
mutate(revenue = quantity * item_price) |>
summarize(total_revenue = sum(revenue))

  total_revenue
1 39237.02

## 7. How many orders were made in the period?

In [141]:
n_distinct(chipo$order_id)

[1] 1834

## 8. What is the average revenue amount per order?

In [152]:
chipo |>
mutate(revenue = quantity * item_price) |>
group_by(order_id) |>
summarize(revenue_per_order = sum(revenue)) |>
summarize(arverage_revenue = mean(revenue_per_order))

  arverage_revenue
1 21.39423

## 9. How many different items are sold?

In [154]:
n_distinct(chipo$item_name)

[1] 50